body{
	font-family: 'Fira Sans', sans-serif;
	color: #8D8D8D;
}
button{
	display: block;
}
h1,h2,h3,h4,h5,h6{
	font-style: normal;
	font-weight: 700;
	color: #151515;
	margin: 0;
	padding: 0;
}
h3{
	font-size: 22px;
}
.btn{
	background-color: #4737FF;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	padding: 13px 26px;
	border: none;
	text-align: center;
	display: inline;
	border-radius: 0;
	letter-spacing: 0.3em;
	transition: all 0.5s ease;
}

header{
	height: 90vh;
}
h2{
	font-size: 38px;
}
ul,li{
	display: block;
	padding: 0;
	margin: 0;
}
.btn:hover{
	background: #3726F2;
	color: #fff;
}
.nav{
	padding-top: 59px;
	margin-bottom: 86px;
}
.logo{

}
.search{
	background: transparent;
	border: none;
	transition: all .5s ease-in;
}
.search:hover{
	transform: scale(1.1);
}
.menu{
	background: transparent;
	border: none;
	transition: all .5s ease-in;
}
.menu:hover{
	transform: scale(1.1);
}
.offer-content__title{
	font-size: 60px;
	letter-spacing: -0.01;
	line-height: 1.2em;

}
.offer-content__text{
	margin: 30px 0 56px;

}
.be-static{
	position: static;
}
.hero{
	background: url('img/img1.jpg') no-repeat right top;
	width: 58%;
	height: 82vh;
	position: absolute;
	right: 0;	
	top: 142px;
	-webkit-background-size: 80% 100%;
	background-size: 80% 100%;
}
.video{
	position: absolute;
	left: 0;
	bottom: 30%;
	width: 42%;
	height: 30%;
	display: block;
	background: url('img/video.jpg') no-repeat center center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 30px 80px 100px 50px rgba(0,0,0,0.25);
}
.video:after{
	content: '';
	display: block;
	background: url('img/play.svg');
	width: 65px;
	height: 65px;
}
.vh-depended{

	display: flex;
	align-items: center;
}
.problems{
	margin-top: 137px;
}
.about{

}
.about-title{
	font-size: 38px;
	margin-bottom: 30px;
}
.about-author{
	margin-top: 65px;
	padding: 7px 0px 7px 96px;
	background: url("img/author.jpg") no-repeat left center;
}
.about-name{
	font-size: 22px;
}
.about-dop{
	margin-bottom: 0;
}


.services{
	padding-top: 142px;
}
.serve-list{
	color: #8D8D8D;
	margin-top: 67px;
}
.serve-list__item{
	cursor: pointer;
	margin-bottom: 20px;
}
.section-title__label{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.25em;
	color: #8F8F8F;
	margin-bottom: 40px;
}

.section-title__heading{
	cursor: pointer;
}
.serve-list_left{
	margin-left: 37px;
}

.work-carousel {
	margin-top: 100px;
}
.work-carousel .item,.work-carousel .owl-item{
	width: 825px !important; 
	position: relative;
}
.owl-theme .owl-dots,.owl-theme .owl-nav{
	text-align: left;
}
.owl-theme .owl-nav [class*=owl-]{
	margin: 0;
}
.work-carousel .owl-nav{
	margin-top: 25px !important;
}
.work-carousel .owl-prev{
	margin-right: 20px !important;
}
.owl-carousel__play{
	display: block;
	background: url("img/play.svg");
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-right: -32px;
	cursor: pointer;
}


.result{
	padding-top: 159px; 
}
.collage{
	width: 55%;
	height: 540px;
	background: url("img/img6.jpg") no-repeat left top / 70% 80%;
	position: absolute;
	left: 0;
}
.collage img{
	display: block;
	width: 340px;
	height: 445px;
	position: absolute;
	right: 10%;
	bottom: 0;
	box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
}
.easy{
	margin-top: 20px;
	margin-left: 65px;
}
.easy-title{
	margin-bottom: 30px;
}
.easy-text{
	margin-bottom: 62px;
}
.easy-point{
	padding-left: 83px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #000;
	font-weight: 500;
	font-style: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 25px;
}
.easy-point_first{
	background: url("img/icon100.svg") no-repeat left center;
	display: block;
}
.easy-point_second{
	background: url("img/bag.svg") no-repeat left center;
}



.works{
	padding-top: 283px;
}
.work-tabs{
	margin-left: 0px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .3em;
	width: 100%;
	margin-top: 80px;
}
.work-tabs__item a{
	text-decoration: none;
	color: #8D8D8D;
}
.work-tabs__item.active a{
	color: #000;
	font-weight: 500;
}
.works-wrap{
	flex-wrap: wrap;
	margin-top: 108px;
}
.works-wrap__item{
	margin-bottom: 30px;
	position: relative;
	transition: all 1s ease;
}
.works-wrap__item img{
	transition: all 1s ease;
	display: block;
}
.works-wrap__item:hover img{
	-moz-transform: scale(1.1) translate(0px, -20px);
	-webkit-transform: scale(1.1) translate(0px, -20px);
	-o-transform: scale(1.1) translate(0px, -20px);
	-ms-transform: scale(1.1) translate(0px, -20px);
	transform: scale(1.1) translate(0px, -20px);
	box-shadow: -30px 80px 200px rgba(0,0,0,0.4);
}
.works-wrap__item:hover:after{
	content: '';
	display: block;
	background: url('img/play.svg');
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
}


.tabs__content {
  display: none !important; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: flex !important; /* по умолчанию показываем нужный блок */
}


.testimonials{
	padding-top: 180px;
}
.contributor{
	padding-top: 121px;
}
.contributor__title{
	margin-bottom: 10px;
}
.contributor__photo{
	display: block;
}

.contributor-carousel .owl-nav{
	display: flex;
	margin-top: 35px;
	position: relative;
}
.contributor-carousel .owl-prev{
	margin-right: 20px;
}
.gl{
	height: 100%;
}

.clients{
	padding-top: 180px;
}
.clients-row{
	margin-top: 127px;
	
}
.clients-row__item img{
	background: transparent;
	border: none;
}
.clients-row__item img{
	transition: all 0.5s ease-out;
}
.clients-row__item img:hover{
	transform: scale(1.1);
	box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
}
.footer{
	height: 240px;
	background: #515151;
	margin-top: 109px;
}
.footer_logo{
	margin-top: 109px;
	margin-bottom: 109px;
}

@media screen and(max-width:1200px){
	.works-wrap__item{
		width: 30%;
	}
	.works-wrap__item img{
		display: block;
		width: 100%;
	}
	.contributor{
		position: relative;
		padding-top: 20px;	
	}

}

@media screen and(max-width:995px){
	.vh-depended{
		height: 40vh;
	}
}
